.nav {
    padding: 10px 0;

    .am-flexbox-item {
        text-align: center;
        color: gray;
        font-size: 14px;
    }

    img {
        width: 48px;
    }
}

// 租房小组
.class {
    padding: 0 10px;
    margin-bottom: 10px;
    height: 240px;

    .classTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }

    .classBottom {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 190px;
        font-size: 12px;
        margin-bottom: 10px;

        .classBottomItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 140px;
            height: 85px;
            background-color: white;

            img {
                width: 55px;
                height: 60px;
            }
        }
    }
}

//最新资讯
.news {
    padding: 0 10px;
    height: 450px;

    .newsItem {
        height: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #000;

        img {
            width: 120px;
            height: 90px;
        }

        .newsItemRight {
            font-weight: 700;

            .detail {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                color: gray;
            }
        }
    }
}