.houseNav {
    padding-left: 10px;
    background-color: turquoise;
    height: 45px;
    line-height: 45px;

    .search-box {
        margin-top: -19px;
    }
}


.houseItems {
    padding: 0 15px;
}

.loading {
    line-height: 120px;
    text-align: center;
    height: 110px;
    background-color: #f6f5f6;
}